.container{
    max-width: 960px;
    margin: 0 auto 0 auto;
    border: 5px solid red;

}

body{
    background-image: url="";
    background-repeat:no-repeat;
    background-size: 100;
}


li {
    display : inline;
    margin-right:10px;
    float:right;
    color:white
     }
     h1 {
         float: left;
         color: white;
         background-color: #4aaaa5;

     }

     h2 {
        color:#4aaaa5;
        background-color: #ffffff;
        background-size:50;
    }
   footer {
       background-color: #666666;
   }

   head {
       background-color: #666666;
   }

   nav {
       float:  right;
   }